# Resource locations to be added to the 'boostrap' path
# This also contains the minimum you need to use the Ogre example framework
[Bootstrap]

# Resource locations to be added to the default path
[General]
FileSystem=../../Media
FileSystem=../../Media/models/
FileSystem=../../Media/models/Login/
FileSystem=../../Media/models/textures/
FileSystem=../../Media/particles/
FileSystem=../../Media/shaders/
FileSystem=../../Media/gui/
FileSystem=../../Media/gui/core
FileSystem=../../Media/sounds

